
/* ACA PUSE EL HEADER*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%; /* por defecto es 100%, 62,5% cambia la base de 16px a 10px */
    font-family: 'Rampart One', cursive;
}

header {
    background-image: url("https://image.freepik.com/foto-gratis/muro-hormigon-gris_53876-88973.jpg");
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 15px 0px;
    align-items: center;
}

.navegacion li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.navegacion li a {
    text-decoration: none;
    font-size: 1.2rem;
  }

header img {
    width: 50px;
}

h1 { 
    font-size: 200%;
}

/* ACA EMPIEZA EL FOOTER*/

.iconostexto__iconos {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-right: 1rem;
}

.textoIconos {
    display: flex;
    flex-direction: column;
}

.iconostexto {
    display: flex;
}

.whatsapp {
    margin-top: px;
}
.instagram {
    margin-top: 13px;
}
.facebook {
    margin-top: 12px;
}
.twitter {
    margin-top: 11px;
}

.pieDePagina {
    display: flex;
    justify-content: center;
}

@media (max-width: 780px) {

    .imagenes {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        }
}

@media (max-width: 360px) {

    .imagenes {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        }
}